@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- HeadlessUI Combobox - remove bullets --- */
[role='listbox'] {
  list-style-type: none;  /* sem bullet */
  margin: 0;
  padding-left: 0;
} 